<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location | index</title>
</head>
<body>
    <% for(let l of locations) { %>
        <h3>Location <%= l.id %> : </h3>
        <li>
            <ul>CityName: <%= l.cityName %> </ul>
            <ul>PlanetName: <%= l.planetName %> </ul>
            <ul>Capacity: <%= l.capacity %> </ul>
            <h4>Spaceships currently in here:</h4>
            <% for(let s of l.spaceShips) { %> 
                <li>
                    <ol>SpaceshipName: <%= s.name %> </ol>
                </li>
            <% } %> 
        </li>
    <% } %>
</body>
</html>